blinker==1.8.2
clarabel==0.9.0
click==8.1.7
contourpy==1.1.1
cvxpy==1.5.2
cycler==0.12.1
ecos==2.0.14
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Limiter==3.0.0
Waitress==2.1.2
fonttools==4.54.1
gpxpy==1.6.2
gurobipy==11.0.3
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
npm==0.1.1
numpy==1.24.0
optional-django==0.1.0
osqp==0.6.7.post3
packaging==24.2
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
qdldl==0.1.7.post4
scipy==1.10.1
scs==3.2.7
six==1.16.0
Werkzeug==3.0.6
zipp==3.20.2
